/Art/Sprites
Art/Sprites.meta
Editor.meta
/Editor
Adaptive Performance.meta
/Adaptive Performance
/Fonts
Readme.asset
Readme.asset.meta
README.md.meta
/Sound
Sound.meta
TextMesh Pro.meta
/TextMesh Pro
TutorialInfo.meta
/TutorialInfo
Fonts.meta
ReadMe-Timothy.txt
ReadMe-Timothy.txt.meta
/Packages
Packages.meta
